@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);


.topnav {
  width: 100%;
  opacity: 80%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1;
  scroll-behavior: smooth;
  list-style:none;

}

/* Style the links inside the navigation bar */
.topnav a {
  align-content: center;
  display: inline-block;
  color: #000000;
  font-family: "Oswald", sans-serif;
  margin: 0 auto;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 1.2em;
  scroll-behavior: smooth;
}

.topnav ul {
  text-align: center;
  width: 50%;
  height: 80%;
  margin: 0 auto;
  text-align: center;
}

.topnav li {
  display: block;
  float: left;
  width: 25%;
  text-align: center;
  line-height: 2em;
  position: relative;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #000000;
  color: white;
}

.centerlogo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  -webkit-filter: drop-shadow(1px 1px 1px #222);
  filter: drop-shadow(1px 1px 1px #222);
}

.smallleft {
  position:fixed;
  top:0.5em;
  left: 0.5em;
  z-index:2;
}
.smallright {
  position:fixed;
  top:0.5em;
  right: 0.5em;
  z-index:2;
}


/* Override UGG site */
.body {
  width: 100%;
  padding: 0;
}
.content-asset p {
  margin: 0 auto;
}
.breadcrumb {
  display: none;
}

/* Helpers */
/**************************/
.margin-top-10 {
  padding-top: 10px;
}
.margin-bot-10 {
  padding-bottom: 10px;
}

/* Typography */
/**************************/
#parallax-world-of-ugg h1 {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: black;
  padding: 0;
  margin: 0;
}
#parallax-world-of-ugg h2 {
  font-family: "Oswald", sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 10;
  text-shadow: 1.4px 1.4px 2px #000000;
  opacity: 0.9;
}
#parallax-world-of-ugg h3 {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 0;
  font-weight: 400;
  letter-spacing: 8px;
  text-transform: uppercase;
  color: black;
}
#parallax-world-of-ugg p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.menutext {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
}

.menutext a {
  text-decoration: none;
  color: #000000;
}

.menutext a:visited {
  text-decoration: none;
  color: #000000;
}


.abouttext {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: black;
  text-align: center;
}

.abouttext a {
  text-decoration: none;
  color: #000000;
}

.abouttext a:visited {
  text-decoration: none;
  color: #000000;
}


.first-character {
  font-family: "Oswald", sans-serif;
  font-size: 84px;
  line-height: 20px;

}


/* Section - Title */
/**************************/
#parallax-world-of-ugg .title {
  background: white;
  padding: 10px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
}
#parallax-world-of-ugg .title h1 {
  font-size: 35px;
  letter-spacing: 8px;
}

/* Section - Block */
/**************************/
#parallax-world-of-ugg .block {
  background: white;
  padding: 60px;
  width: 1200px;
  margin: 0 auto;
  text-align: justify;
  float: inline-end;
}

#block1 {
  float:left;
  padding: 1em 1em;
}

#block2
{
  padding: 1em 1em;
  float:right;
  text-align: right;

}

#block3
{
  padding: 1em 1em;
  float:center;
  text-align: center;

}


#parallax-world-of-ugg .block-gray {
  background: #f2f2f2;
  padding: 60px;
}
/* #parallax-world-of-ugg .section-overlay-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
} */

#parallax-world-of-ugg .centertext {
  background: white;
  padding: 1.2em;
  width: auto;
  margin: 0 auto;
  text-align: center;

}


/* Section - Parallax */
/**************************/
#parallax-world-of-ugg .parallax-one {
  padding-top: 4em;
  padding-bottom: 0.1em;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://i.imgur.com/S8hpSUp.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}
#parallax-world-of-ugg .parallax-two {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://hotmart.s3.amazonaws.com/product_contents/302ab041-673e-43d5-b4d6-2640e8c12fa5/massasfrescasCD.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#parallax-world-of-ugg .parallax-three {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://blog.eduk.com.br/wp-content/uploads/2020/07/original-d90f7d298aeed43b2299a82819dafd54-scaled.jpeg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
#parallax-world-of-ugg .parallax-four {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://www.theunitedtastesoffood.com/wp-content/uploads/2016/09/IMG_1596-2.jpg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#parallax-world-of-ugg .parallax-five {
  padding-top: 200px;
  padding-bottom: 200px;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-image: url(https://i.imgur.com/cyZiAHv.jpeg);
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {
  border-bottom: 1px solid black;
  width: 150px;
  margin: 0 auto;
}

/* Media Queries */
/**************************/
@media screen and (max-width: 959px) and (min-width: 768px) {
  #parallax-world-of-ugg .block {
    padding: 40px;
    width: 620px;
  }
  #parallax-world-of-ugg .block1 {
    padding: 40px;
    width: 620px;
  }
  #parallax-world-of-ugg .block2 {
    padding: 40px;
    width: 620px;
  }
}
@media screen and (max-width: 767px) {
  #parallax-world-of-ugg .block {
    padding: 30px;
    width: 420px;
  }
  #parallax-world-of-ugg h2 {
    font-size: 100px;
  }
  #parallax-world-of-ugg .block1 {
    padding: 30px;
  }
  #parallax-world-of-ugg .block2 {
    padding: 30px;
  }
  #parallax-world-of-ugg .parallax-one,
  #parallax-world-of-ugg .parallax-two,
  #parallax-world-of-ugg .parallax-three
  #parallax-world-of-ugg .parallax-four,
  #parallax-world-of-ugg .parallax-five {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}


@media screen and (max-width: 480px) {

  #parallax-world-of-ugg h2 {
    font-size: 3em;
  }

  #parallax-world-of-ugg .block {
    padding: 30px 15px;
    width: 290px;
    font-size: 1em;
    text-align: center;
    display: block;
  }

  #parallax-world-of-ugg .p {
    align-self: baseline;
    
  }

  #parallax-world-of-ugg span.first-character {
    font-size: 3.4em;
    float: center;
  }
  
  #parallax-world-of-ugg .block1 {
    padding: 30px 15px;
    width: 100px;
    font-size: 1em;
    text-align: center;
    float: center;
  }

  #parallax-world-of-ugg .block2 {
    padding: 30px 15px;
    padding-left: 3em;
    width: 100px;
    font-size: 1em;
    text-align: center;
    float: center;
  }
}



.arrows {
	width: 60px;
	height: 6em;
	position: relative;
	left: 50%;
	margin-left: -30px;
	bottom: 4em;
}

.arrows path {
	stroke: #FFFFFF;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}

